@media screen and (max-width: 600px) {

body {
    overflow: hidden;
    .overlay {
        width: 100vw;
        height: 100vh;
    }
}
    //Intro Screen:
    #intro-screen {
        flex-direction: column;
        .left-container, .right-container {
            width: 100vw;
            height: 50vh;

            .overlay {
                width: 100vw;
                height: 50vh;
            }
        }

        .left-container .overlay{
            background-color: rgb(129, 193, 66);
            opacity: .6;
            cursor: pointer;
        }

        .right-container .overlay {
            background-color: #4694f5;
            opacity: .6;
            cursor: pointer;
        }
    }

    #back-button {
        display: none;
    }

    //Both routes
    #main-container {
        margin: 0 10px 0 10px;

        #fullstack-title-container, #ios-title-container {
            margin-top: 25px;
            margin-bottom: 75px;

            #title-subtitle {
                width: 100%;
            }
        }
        #fullstack-title-container #title-text {
            height: 150px;
        }

        .project-container {
            &.reverse-mobile {
                flex-direction: column-reverse;
            }
        }

        .project-container {
            flex-direction: column;
            margin-bottom: 75px;

            .left, .right {
                width: 100%;
            }

            .right.text, .left.text {
                    padding: 0px !important;
            }

            .text .title-container {
                width: 100%;

                .title {
                    height: 100px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
            }

            #tender-images {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }

            .images {
                display: flex;
                justify-content: space-around;
                margin-top: 40px;

                //Fullstack images
                #c4c-ipad {
                    width: 95%;
                    height: auto;
                }

                #twilio-screenshot {
                    width: 95%;
                    height: auto;
                }

                #calculator-screenshot {
                    width: 95%;
                    height: auto;
                }

                iframe {
                    width: 90%;
                    height: 500px;
                }

                //iOS images
                .phone {
                    width: 150px;
                    height: 300px;

                    &.tender-phone {
                        width: 120px !important;
                        height: 240px !important;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }


            }
        }


    }
}
